html {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.navbar-brand, .navbar-brand-muted, #contact-me-text {
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  color: var(--color-text);
}

.navbar-brand-muted{
  color: #999999;
  font-weight: 500;
}

.navbar-shortcuts, button {
  color: var(--color-background);
  text-decoration: none;
  font-family: 'Arima', cursive;
  text-shadow: var(--color) 0px 0px 10px;
}

.column {
  border: 0px solid var(--color-button);
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 2px 2px 10px var(--color-button);
}

.profile-picture {
  box-shadow: 2px 2px 10px var(--color-button);
}

.navbar-container, .navigation {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 15px;
}

body, .project-name, .hyperlink-in-projects {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body, .hyperlink-in-projects {
  background-color: var(--color-background);
  color: var(--color-text);
}

.project-name {
  color: var(--color-background);
  margin: 5px;
}

button {
  align-items: center;
  background-color: var(--color-button);
  color: var(--color-background);
  border: 0;
  border-radius: 30px;
  box-sizing: border-box;
  display: inline-flex;
  padding: 8px;
  margin: 4px;
  transition: background-color 0.5s ease;
  white-space: nowrap;
}

button:hover {
  background-color: #666666;
}

h1, h2, h3, h4, h5, h6, p, ul {
  font-family: 'Arima', cursive;
}

h2 {
  margin-top: 0px;
}

h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3, h4, h5 { font-size: 18px; }
h6, p, ul { font-size: 14px; }

table {
  margin: 0px auto; 
  text-align: center;
  font-size: 0.65em;
  font-family: 'Arima', cursive;
}

th, td {
  padding: 5px;
  border-radius: 15px;
}

th {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 15px;
}

td {
  border: 0.1px dashed var(--color-transparent);
  flex: 0 1 auto;
  width: 70px;
  margin: 1px;
}

tr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

td img {
  width: 50px;
  height: 50px;
}

#softh2, #softhr {
  margin-bottom: 20px;
}

#softhr {
  margin-top: 0px;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(128, 128, 128, 0.55);
  color: var(--color-button-text-transparent);
  cursor: pointer; 
  padding: 5px;
  border-radius: 10px; 
  font-size: 15px;
}

#back-to-top:hover {
  background-color: rgba(128, 128, 128, 1);
  color: var(--color-background);
}

ul {
  list-style-type: none;
  padding-left: 1em;
}

.category {
  column-count: 2;
  column-gap: 1em;
}

.section {
  break-inside: avoid;
}

.section > h3 {
  margin-top: 0px;
}

.section > hr {
  margin-top: 5px;
  margin-bottom: 25px;
}

.category li ul {
  padding-left: 1em;
  overflow-wrap: break-word;
}

.column {
  box-sizing: border-box;
  height: auto;
}

.paragraph {
  margin: 1em 0;
}

.spacer {
  display: flex;
  justify-content: center;
  color: white;
}

.top-section, .info, .profile, .icon-row, .contact-row {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 0px;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.project.button {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 20px;
}

.project-description {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.info {
  flex-direction: column;
  justify-content: space-between;
}

.profile {
  grid-area: 1 / 1;
  text-align: center;
}

.profile-picture {
  border-radius: 50%;
  box-shadow: 2px 2px 10px var(--color-button);
}

.icon-btn, .Linkedin.btn, .xda.btn, .codv.btn, .googledev.btn, .mail {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
}

hr {
  border: none;
  border-top: 2px dashed;
  border-color: var(--color-transparent);
}

.fa-github, .fa-linkedin-in, .mail {
  color: darkgray;
}

.fa-github:hover { color: var(--color-text); }
.fa-linkedin-in:hover { color: #0077B7; }
.fa-envelope-open:hover { color: rgb(0, 97, 97); }

.googledev:hover, .fa-github:hover, .codewars:hover, .fa-linkedin-in:hover, .xda:hover, .fa-envelope-open:hover {
  transform: scale(1.25);
  transition: 0.4s;
}

.content {
  padding: 20px;
  display: none;
}

.active {
  display: block;
}

#theme-toggle-img {
  position: relative;
  left: 10px;
  max-width: 30px;
  margin-top: 0;
  margin-bottom: 8px;
}

.theme-toggle {
  position: relative;
  display: inline-block;
}

.tooltip {
  font-family: Arima, cursive;
  font-size: 11px;
  visibility: hidden;
  background-color: var(--color-text);
  color: var(--color-background);
  text-align: center;
  padding: 2px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 15%;
  left: 350%;
  margin-left: -60px;
  width: 80px;
  opacity: 0;
}

.portfolio-sections {
  display: grid;
  grid-gap: 20px;
}

.portfolio-sections > div {
  border: 1px solid var(--color-button);
  border-radius: 30px;
  padding: 20px;
  box-shadow: 2px 2px 10px var(--color-button);
}

.portfolio-sections h3 {
  margin-bottom: 6px;
  font-weight: 600;

}

.portfolio-sections ul {
  margin-top: 0;
  font-weight: 400;
}

.portfolio-sections h2 {
  font-weight: 900;
}


@media (max-width: 1150px) {
  .navigation {
    flex-wrap: wrap;
  }
}

@media (max-width: 800px) {
  .top-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  
  .info {
    grid-area: 2 / 1 / 3 / 2;
  }
  
  .profile {
    grid-area: 1 / 1 / 2 / 2;
  }
}

@media screen and (max-width: 768px) {
  .navbar-container, .row {
    align-items: center;
  }

  .category {
    column-count: 1;
  }

  .contact-row {
    margin-bottom: 40px;
  }

  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .column {
    flex: 0 0 100%;
    max-width: 100%;
  }

  h1 { font-size: 28px; }
  h2 { font-size: 22px; }
  h3, h4, h5 { font-size: 16px; }
  h6, p, ul { font-size: 12px; }

  .top-section {
    flex-direction: column;
  }
}
