:root {
  --color-background-light: #F2F2F2;
  --color-text-light: #000000;
  --color-background-dark: #000000;
  --color-text-dark: #F2F2F2;
  --color-button-light: #a5a5a5;
  --color-button-text-light: #FFFFFF;
  --color-button-dark: #999999;
  --color-button-text-dark: #000000;
  --color-light-transparent: rgba(0,0,0,0.1);
  --color-dark-transparent: rgba(255, 255, 255, 0.1);
}

.navbar-brand, .navbar-brand-muted, #contact-me-text {
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  color: var(--color-text-light);
}

.navbar-shortcuts, button {
  color:  var(--color-button-text-light);
  text-decoration: none;
}

.navbar-container, .navigation {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 15px;
}

body, .project-name, .hyperlink-in-projects {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body, .hyperlink-in-projects {
  background-color: var(--color-background-light);
  color: var(--color-text-light);
}

.project-name {
  color: var(--color-button-text-light);
  margin: 5px;
}

button {
  align-items: center;
  background-color: var(--color-button-light);
  border: 0;
  border-radius: 30px;
  box-sizing: border-box;
  display: inline-flex;
  padding: 8px;
  margin: 4px;
  transition: background-color 0.5s ease;
}

button:hover {
  background-color: #666666;
}

h1, h2, h3, h4, h5, h6, p, ul {
  font-family: 'Arima', cursive;
}

h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3, h4, h5 { font-size: 18px; }
h6, p, ul { font-size: 14px; }

.column, .responsive-img {
  flex: 0 0 50%; 
  max-width: 50%;
  box-sizing: border-box;
  height: auto;
}

.paragraph, .hobbies {
  margin: 1em 0;
}

.spacer {
  display: flex;
  justify-content: center;
  color: white;
}

.top-section, .info, .profile, .icon-row, .contact-row {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 0px;
}

.contact-row {
  margin-top: 20px;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.project.button {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 20px;
}

.project-description {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}


.info {
  flex-direction: column;
  justify-content: space-between;
}

.profile {
  grid-area: 1 / 1;
  text-align: center;
}

.profile-picture {
  border-radius: 50%;
}

.icon-btn, .Linkedin.btn, .XDA.btn, .google-dev.btn, .stack.btn, .phone, .mail, .location {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

hr {
  border: none;
  border-top: 2px dashed;
  border-color: var(--color-light-transparent);
}

.fa-code, .fa-github, .fa-stack-overflow, .fa-linkedin-in, .fa-android, .phone, .mail, .location {
  color: darkgray;
}

.fa-code:hover { color: red; }
.fa-github:hover { color: var(--color-text-light); }
.fa-stack-overflow:hover { color: darkorange; }
.fa-linkedin-in:hover { color: #0077B7; }
.fa-android:hover { color: #f59812; }
.fa-phone:hover { color: #006400; }
.fa-envelope-open:hover { color: lightcoral; }
.fa-map-location-dot:hover { color: darkred; }

.fa-code:hover, .fa-github:hover, .fa-stack-overflow:hover, .fa-linkedin-in:hover, .fa-android:hover, .fa-phone:hover, .fa-envelope-open:hover, .fa-map-location-dot:hover {
  transform: scale(1.5);
  transition: 0.1s;
}

.content {
  padding: 20px;
  display: none;
}

.active {
  display: block;
}

#theme-toggle {
  position: absolute;
  right: 15px;
}

@media (max-width: 900px) {
  .column, .responsive-img {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 800px) {
  .top-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  
  .info {
    grid-area: 2 / 1 / 3 / 2;
  }
  
  .profile {
    grid-area: 1 / 1 / 2 / 2;
  }
}

@media screen and (max-width: 768px) {
  .navbar-container, .row {
    flex-direction: column;
    align-items: center;
  }

  #theme-toggle {
    position: relative;
  }

  .top-section {
    flex-direction: column;
  }

  .contact-row {
    margin-bottom: 20px;
  }

  .navigation {
    flex-wrap: wrap;
  }

  .column, .responsive-img {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .navbar {
    flex-direction: column;
    text-align: center;
  }

  h1 { font-size: 24px; }
  h2 { font-size: 20px; }
  h3, h4, h5 { font-size: 16px; }
  h6, p, ul { font-size: 12px; }
}