body{
  background-color: eeeeee;
  font-size: 17px;
  margin-bottom: 0;
}
h1{
  font-family: 'Arima', cursive;
  font-size: 24px;
}
h2 {
  font-family: 'Arima', cursive;
  font-size: 10px;
}

h3 {
  font-family: 'Arima', cursive;
  font-size: 18px;
}

h4 {
  font-family: 'Arima', cursive;
}

p,ul {
  font-family: 'Bree Serif', serif;
  font-size: 15px;
}

.profile-picture {
  border-radius: 50%;
}

.display-6 {
  font-size: 15px;
}
